.linkcustom:hover {
    outline: 2px solid #0d6efd;
}

.offcanvas {
    max-width: 200px;
}

.pagination {
    --bs-pagination-color: #198754;
    --bs-pagination-hover-color: #fff;
    --bs-pagination-active-color: #fff;
    --bs-pagination-active-border-color: #198754;
    --bs-pagination-active-bg: #198754;
    --bs-pagination-hover-bg: #376e37;
}